################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/service/config
/.vs/service/FileContentIndex
/.vs/service/v17/TestStore/0
/.vs/service/v17
/service/.config
/service/bin
/service/obj
/.vs/service/DesignTimeBuild
/.vs/ProjectEvaluation
/ServiceTest/bin
/ServiceTest/obj
/.vs
/ClothesHandler/bin
/ClothesHandler/obj
/ServicePDV/bin
/ServicePDV/obj/Debug/net6.0
/ServicePDV/obj/Release/net6.0
/ServicePDV/obj
/PlaygroundWeatherState/bin/Debug/net6.0
/PlaygroundWeatherState/obj/Debug/net6.0
/PlaygroundWeatherState/obj
/PlaygroundWeatherStateTest/bin/Debug/net6.0
/PlaygroundWeatherStateTest/obj
.vs/service/xs/UserPrefs.xml
.vs/service/xs/project-cache/service-Debug.json
.vscode/launch.json
.vscode/tasks.json
/.vscode
/PlaygroundWeatherState/bin/Release/net6.0
/PlaygroundWeatherStateTest/bin/Release/net6.0
/PlaygroundHandler/obj
/PlaygroundHandler/bin/Debug/net6.0
/ClothesHandlerTest/obj
/ClothesHandlerTest/bin
/ClothesHandlerTest/bin/Debug/net6.0
PlaygroundHandler/.DS_Store
PlaygroundWeatherState/.DS_Store
PlaygroundWeatherStateTest/.DS_Store
service/.DS_Store
ServicePDV/.DS_Store
ServiceTest/.DS_Store
ClothesHandler/.DS_Store
ClothesHandlerTest/.DS_Store
.DS_Store
ClothesHandlerTest/obj/Debug/net6.0/ClothesHandlerTest.GeneratedMSBuildEditorConfig.editorconfig
ClothesHandlerTest/obj/Debug/net6.0/ClothesHandlerTest.GeneratedMSBuildEditorConfig.editorconfig
