################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/service/config
/.vs/service/FileContentIndex
/.vs/service/v17/TestStore/0
/.vs/service/v17
/service/.config
/service/bin
/service/obj
/.vs/service/DesignTimeBuild
/.vs/ProjectEvaluation
/ServiceTest/bin
/ServiceTest/obj
/ClothesHandler/obj
/.vs
/ClothesHandler/bin/Debug/net6.0
/ClothesHandler/bin/Release/net6.0
/ServicePDV/bin
/ServicePDV/obj
